<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Прикажи термин</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
   <link th:href="@{/css/styles.css}" rel="stylesheet" />
<!--        <link rel="stylesheet" href="../static/css/styles.css"> &lt;!&ndash;vrati go komentarot tuka koga ke zavrsis&ndash;&gt;-->

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    </head>
    <body>
    <hr class="linija1" size="8" width="100%" color="red">
    <div class="meni">
        <a href="http://localhost">
            <h1 class="logo">Е - лекување</h1></a>
        <div id="date-div"></div>
    </div>
    <hr class="linija1" size="8" width="100%"  color="red">
    <h2 class="vnesete">Приказ на закажани термини на пациент</h2>
    <hr id="linija" size="8" width="86%" color="red">

    <div class="vl" id="vert"></div>
    <img class="slika" id="slika1" src="../images/slika.jpg" alt="slika">

    <table>
        <tr>
            <th>ID на доктор</th>
            <th>Име на доктор</th>
            <th>Презиме на доктор</th>
            <th>Датум и време</th>
            <th>Детали за локација</th>

        </tr>
        <th:block th:each="termin : ${terminList}">
        <tr>
            <td th:text="${termin.getDoctor().getId()}"></td>
            <td th:text="${termin.getDoctor().getFirstName()}"></td>
            <td th:text="${termin.getDoctor().getLastName()}"></td>
            <td th:text="${termin.getDateAndTime()}"></td>
            <td th:text="${termin.getLocation()}"></td>
            <td><a th:href="@{'http://localhost/patient/termin/deleteTermin?terminID={id}' (id=${termin.getId()})}">Delete</a></td>
           <!-- <td><a th:href="@{'http://localhost/patient/termin/editTermin?terminID={id}' (id=${termin.getId()})}">Edit</a></td> -->
        </tr>
        </th:block>
    </table>


    <a href="http://localhost/patient/logout"><input type="submit" value="Одјави се" id="kopce2" style="margin-top: 30px"></a>

    </body>
    </html>
    <script type="text/javascript">
        const dateDiv = document.getElementById('date-div');

        function myDateFunction() {
            const now = new Date();
            dateDiv.innerHTML = now.toLocaleString('ru-RU');
        }
        setInterval(myDateFunction, 1000);
    </script>
    <script>
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
    </script>

