body{
    background-image: linear-gradient(to right, #EAF4F9, #C9E3F2);
    color: #1D577A;
    margin: 8px;
}
.logo{
    font-family: "Georgia-BoldItalic", sans-serif;
    font-size: 45px;
    font-weight: bold;
    padding-left: 50px;
    padding-top: 40px;
    margin-top: -0px;
    float: left;
    color: white;
}
#naslov{
    padding-top: 100px;
    padding-left: 220px;
    font-size: 40px;
    text-align: center;
    font-family: "Times New Roman", serif;
    font-weight: bold;
}
#naslov2{
    padding-top: 30px;
    padding-left: -30px;
    font-size: 25px;
    text-align: center;
    font-family: "Times New Roman", serif;
}
.button {
    background-color: #1D577A;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 30px;
}
.button1 {
    background-color: white;
    color: #1D577A;
    border: 2px solid #1D577A;
    margin-left: 450px;
}
.button1:hover {
    background-color: #1D577A;
    color: white;
}
.button2 {
    background-color: white;
    color: #1D577A;
    border: 2px solid #1D577A;
}

.button2:hover {
    background-color: #1D577A;
    color: white;
}
.meni{
    background-color:  #1D577A;
    height: 130px;
}
#date-div{
    color: white;
    padding-top:100px;
    margin-left: 1200px;
    position: absolute;
    font-size: 20px;
}
.vl {
    border-left: 6px solid red;
    height: 560px;
    margin-left:200px;
    float:left;
    margin-top: -10px;
}
.slika{
    float: left;
    margin-left: -180px;
    width: 150px;
    margin-top: 90px;
}
#linija{
    margin-left: 200px;
    margin-top: 0;
    border-top: 8px solid red;
}
.vnesete{
    margin-left: 250px;
    margin-top: 5px;
    font-size: 35px;
    font-family: "Times New Roman", serif;
}
#vert{
    margin-top: -85px;
}
#slika1{
    margin-top: 331px;
}
.container {
    margin-top: 40px;
}

.btn-primary {
    width: 100%;
}
.linija1{
    border-top: 8px solid red;
    margin-top: 8px;
    margin-bottom: 8px;
}
#lokacija{
    /*float: left;*/
    margin-top: -280px;
    margin-left: 310px;
    font-size: 16px;
}
#termin{
    margin-right: 550px;
    margin-left: -170px;
    /*float: left;*/
    margin-top: 100px;
    position: relative;
    font-size: 16px;
}
#pole{
    height: 45px;
}
#kopce{
    float: left;
    margin-top: 20px;
    margin-left: 660px;
    background-color: ghostwhite;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #1D577A;
}
select {
    width: 150px;
    padding: 10px;
}
#pacient{
    margin-top: 20px;
    float: left;
    padding-left: 110px;
    font-size: 16px;
}
.input-group-addon{
    padding-top: -5px;
}
table {
    border-collapse: collapse;
    width: 80%;
    float: left;
    margin-left: 40px;
    margin-top: 30px;
    font-size: 20px;

}
th, td {
    text-align: left;
    padding: 15px;
}
tr:nth-child(even){
    background-color: #C9E3F2;
}
th {
    background-color: #1D577A;
    color: #EAF4F9;
}
#tekst{
    font-size: 25px;
    font-family: "Times New Roman", sans-serif;
    float: left;
    margin-left: 45px;
}
#korisnickoIme{
    margin-top: 20px;
    float: left;
    padding-left: 110px;
    font-size: 16px;
}
#pass{
    margin-top: 150px;
    margin-left: 320px;
    font-size: 16px;
}
#pomesti{
    margin-left: 60px;
}
.uredi{
    height: 40px;
    width: 300px;
}
#kopce1{
    float: left;
    margin-top: 40px;
    margin-left: 400px;
    background-color: ghostwhite;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #1D577A;
}
/*.main{*/
/*    background-image: url(slika1.jpg);*/
/*    background-size: cover;*/
/*    height: 100vh;*/
/*    display: block;*/
/*    box-sizing: border-box;*/
/*    border-radius: 15px;*/
/*}*/
/*#meni{*/
/*    width: 5%;*/
/*    float: right;*/
/*    padding-top: 50px;*/
/*    padding-right: 50px;*/
/*}*/
/*.dole a:hover{*/
/*    color: dodgerblue;*/
/*}*/
/*.dole a{*/
/*    text-decoration: none;*/
/*    color: deepskyblue;*/
/*    padding-right: 60px;*/
/*}*/
/*.dole{*/
/*    right:0;*/
/*    position: fixed;*/
/*    margin-bottom: 20px;*/
/*    color:deepskyblue;*/
/*    font-family: "Emilys Candy", sans-serif;*/
/*    font-size: 20px;*/
/*    bottom: 0;*/
/*}*/
/*.quote1 h1{*/
/*    color: white;*/
/*    font-size: 110px;*/
/*    padding-top: 100px;*/
/*    margin-top: -0px;*/
/*    padding-left: 90px;*/
/*    position: center;*/
/*    font-family: sans-serif;*/
/*}*/
/*.quote2 h1{*/
/*    font-family: '3dumbregular', Arial, sans-serif;*/
/*    color: deepskyblue;*/
/*    font-size: 90px;*/
/*    padding-left: 90px;*/
/*}*/
/*#weknow{*/
/*    padding-top: 40px;*/
/*    margin-bottom: -0px;*/
/*}*/
/*#where{*/
/*    margin-bottom: -0px;*/
/*    margin-top: -20px;*/
/*}*/
/*.quote2 a{*/
/*    font-family: "Emilys Candy", sans-serif;*/
/*    font-size: 40px;*/
/*    color: deepskyblue;*/
/*    padding-left: 400px;*/
/*    text-decoration: none;*/
/*}*/
/*a{*/
/*    cursor: pointer;*/
/*}*/
/*@font-face {*/
/*    font-family: '3dumbregular';*/
/*    src:*/
/*    url('Font/3Dumb-webfont.woff') format('woff'),*/
/*    url('Font/3Dumb-webfont.ttf') format('truetype');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/
/*.vertikalno{*/
/*    width: 20%;*/
/*    position: fixed;*/
/*    height: 100vh;*/
/*    background-color: #eee;*/
/*    border-radius: 0 15px 15px 0;*/
/*    margin-right: -0px;*/
/*    right: 5px;*/
/*    top: 8px;*/
/*}*/
/*.vertikalno a {*/
/*    background-color: #eee;*/
/*    color: deepskyblue;*/
/*    display: block;*/
/*    text-decoration: none;*/
/*    font-size: 20px;*/
/*    font-family: sans-serif;*/
/*    padding: 20px;*/
/*    border-radius: 0 15px;*/
/*}*/
/*.vertikalno a:hover {*/
/*    background-color: deepskyblue;*/
/*    color: #eee;*/
/*}*/
/*.senka2{*/
/*    width:98.9%;*/
/*    position: absolute;*/
/*    height: 100%;*/
/*    background-color: lightcyan;*/
/*    opacity: 0.2;*/
/*    border-radius: 15px;*/
/*}*/
/*.senka{*/
/*    width:98.9%;*/
/*    position: absolute;*/
/*    height: 100%;*/
/*    background-color: deepskyblue;*/
/*    opacity: 0.5;*/
/*    border-radius: 15px;*/
/*}*/
/*.body-sporedna{*/
/*    background-color: lightcyan;*/
/*    overflow: auto;*/
/*}*/
/*.logo{*/
/*    font-family: "Emilys Candy", sans-serif;*/
/*    font-size: 45px;*/
/*    font-weight: bold;*/
/*    padding-left: 50px;*/
/*    padding-top: 40px;*/
/*    margin-top: -0px;*/
/*    float: left;*/
/*    color: dodgerblue;*/
/*}*/
/*.naslov{*/
/*    position: absolute;*/
/*    font-family: '3dumbregular', sans-serif;*/
/*    font-weight: bold;*/
/*    font-size: 80px;*/
/*    color: darkgrey;*/
/*    margin-left: 41.5%;*/
/*    margin-top: 90px;*/
/*}*/
/*.linija{*/
/*    color: darkgrey;*/
/*    position: absolute;*/
/*    width: 60%;*/
/*    margin-top: 220px;*/
/*    margin-left: 20%;*/
/*}*/
/*.ponudi{*/
/*    margin-left: 90px;*/
/*    position: absolute;*/
/*}*/
/*.ponuda1, .ponuda2, .ponuda3{*/
/*    padding: 30px;*/
/*    margin-top: 280px;*/
/*    width: 330px;*/
/*    border-radius: 15px;*/
/*    border-style: dotted;*/
/*    border-width: 2px;*/
/*    border-color: darkgrey;*/
/*    position: absolute;*/
/*    height: 435px;*/
/*}*/
/*.ponuda2{*/
/*    margin-left: 422px;*/
/*}*/
/*.ponuda3{*/
/*    margin-left: 842px;*/
/*}*/
/*#ponuda4, #ponuda5, #ponuda6{*/
/*    margin-top: 810px;*/
/*}*/
/*#ponuda7, #ponuda8, #ponuda9{*/
/*    margin-top: 1340px;*/
/*}*/
/*.ponudi .slika{*/
/*    width: 100%;*/
/*}*/
/*.ponudi h3{*/
/*    font-family: '3dumbregular', sans-serif;*/
/*    color: dodgerblue;*/
/*    font-size: 50px;*/
/*    margin: -0px;*/
/*}*/
/*.ponudi p{*/
/*    font-family: sans-serif;*/
/*    color: darkgrey;*/
/*    margin-bottom: -0px;*/
/*}*/
/*.ponudi .strelka{*/
/*    padding-left: 250px;*/
/*    width: 60px;*/
/*    padding-top: 25px;*/
/*}*/
/*#strelka3, #strelka4, #strelka7, #strelka9{*/
/*    padding-top: 7px;*/
/*}*/
/*#linija_dole{*/
/*    margin-top: 1900px;*/
/*    margin-bottom: 50px;*/
/*}*/
/*#plus{*/
/*    margin-top: 2200px;*/
/*}*/
/*#plus2{*/
/*    margin-top: 1700px;*/
/*}*/
/*#plus4{*/
/*    margin-top: 0;*/
/*}*/
/*#plus6{*/
/*    margin-top: 820px;*/
/*}*/
/*#dole{*/
/*    padding: 0 480px;*/
/*    padding-top: 1930px;*/
/*    font-family: '3dumbregular', sans-serif;*/
/*    font-weight: bold;*/
/*    font-size: 50px;*/
/*    color: darkgrey;*/
/*}*/
/*#plus1{*/
/*    padding: 0 480px;*/
/*    padding-top: 2230px;*/
/*    font-family: '3dumbregular', sans-serif;*/
/*    font-weight: bold;*/
/*    font-size: 50px;*/
/*    color: darkgrey;*/
/*}*/
/*#plus3{*/
/*    padding: 0 480px;*/
/*    padding-top: 1730px;*/
/*    font-family: '3dumbregular', sans-serif;*/
/*    font-weight: bold;*/
/*    font-size: 50px;*/
/*    color: darkgrey;*/
/*}*/
/*#plus5{*/
/*    padding: 0 480px;*/
/*    padding-top: 30px;*/
/*    font-family: '3dumbregular', sans-serif;*/
/*    font-weight: bold;*/
/*    font-size: 50px;*/
/*    color: darkgrey;*/
/*}*/
/*#plus7{*/
/*    padding: 0 480px;*/
/*    padding-top: 850px;*/
/*    font-family: '3dumbregular', sans-serif;*/
/*    font-weight: bold;*/
/*    font-size: 50px;*/
/*    color: darkgrey;*/
/*}*/
/*.tura1, .tura2, .tura3, .tura4, .tura5, .tura6{*/
/*    padding: 20px;*/
/*    width: 70%;*/
/*    border-radius: 15px;*/
/*    border-style: dotted;*/
/*    border-width: 2px;*/
/*    border-color: darkgrey;*/
/*    position: absolute;*/
/*    height: 200px;*/
/*    margin-left: 12.5%;*/
/*}*/
/*.tura1{*/
/*    margin-top: 280px;*/
/*}*/
/*.tura2{*/
/*    margin-top: 560px;*/
/*    height: 250px;*/
/*}*/
/*.tura3{*/
/*    margin-top: 890px;*/
/*    height: 250px;*/
/*}*/
/*.tura4{*/
/*    margin-top: 1220px;*/
/*}*/
/*.tura5{*/
/*    margin-top: 1500px;*/
/*    height: 250px;*/
/*}*/
/*.tura6{*/
/*    margin-top: 1830px;*/
/*    height: 250px;*/
/*}*/
/*.turi h3, .turi h4{*/
/*    padding-left: 30px;*/
/*    margin: -0px;*/
/*}*/
/*.turi h3{*/
/*    font-size: 40px;*/
/*    color: dodgerblue;*/
/*    font-family: Arial, sans-serif;*/
/*    padding-bottom: 30px;*/
/*}*/
/*.turi h4{*/
/*    font-size: 40px;*/
/*    color: lightskyblue;*/
/*    font-family: '3dumbregular', sans-serif;*/
/*}*/
/*.turi h5{*/
/*    font-size: 25px;*/
/*    color: lightskyblue;*/
/*    font-family: '3dumbregular', sans-serif;*/
/*    margin-top: -80px;*/
/*    padding-left: 700px;*/
/*}*/
/*.icon{*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    padding: 12px;*/
/*}*/
/*.cruises h2{*/
/*    font-size: 45px;*/
/*    color: dodgerblue;*/
/*    font-family: Arial, sans-serif;*/
/*    margin: 10px;*/
/*}*/
/*.cruises h3{*/
/*    font-size: 30px;*/
/*    color: lightskyblue;*/
/*    font-family: '3dumbregular', sans-serif;*/
/*    margin: -0px;*/
/*}*/
/*.cruises img{*/
/*    width: 100%;*/
/*    margin-top: 30px;*/
/*}*/
/*.cruise1, .cruise2, .cruise3, .cruise4{*/
/*    padding: 30px;*/
/*    width: 500px;*/
/*    border-radius: 15px;*/
/*    border-style: dotted;*/
/*    border-width: 2px;*/
/*    border-color: darkgrey;*/
/*    position: absolute;*/
/*    height: 550px;*/
/*}*/
/*.cruise1{*/
/*    margin-top: 280px;*/
/*    margin-left: 115px;*/
/*}*/
/*.cruise2{*/
/*    margin-top: 280px;*/
/*    margin-left: 725px;*/
/*}*/
/*.cruise3{*/
/*    margin-top: 940px;*/
/*    margin-left: 115px;*/
/*    height: 620px;*/
/*}*/
/*.cruise4{*/
/*    margin-top: 940px;*/
/*    margin-left: 725px;*/
/*    height: 620px;*/
/*}*/
/*.fa-ul{*/
/*    display: inline-block;*/
/*}*/
/*.fa-ul li{*/
/*    float: left;*/
/*    width: 50%;*/
/*    font-family: sans-serif;*/
/*    color: darkgrey;*/
/*}*/
/*#cruise4{*/
/*    margin-top: 0;*/
/*    margin-bottom: 0;*/
/*}*/
/*#cruise3{*/
/*    margin-top: 20px;*/
/*    margin-bottom: 20px;*/
/*}*/
/*#about{*/
/*    margin-left: 38%;*/
/*}*/
/*#waves1{*/
/*    position:absolute;*/
/*    left: 0;*/
/*    margin-top: 230px;*/
/*}*/
/*#waves2{*/
/*    position: absolute;*/
/*    margin-left: 33%;*/
/*    margin-top: 230px;*/
/*}*/
/*.opis{*/
/*    font-family: sans-serif;*/
/*    font-size: 30px;*/
/*    color: darkgrey;*/
/*    padding-top: 650px;*/
/*    padding-left: 12%;*/
/*    padding-right: 12%;*/
/*    text-align: center;*/
/*}*/
/*.boja{*/
/*    color: dodgerblue;*/
/*    font-size: 33px;*/
/*}*/
/*#waves3{*/
/*    padding-left: 25%;*/
/*}*/
/*.mapa{*/
/*    margin-top: 280px;*/
/*    margin-left: 500px;*/
/*    position: absolute;*/
/*}*/
/*#naslov{*/
/*    font-size: 40px;*/
/*    font-family: '3dumbregular', Arial, sans-serif;*/
/*    color: dodgerblue;*/
/*    padding-left: 100px;*/
/*    margin-top: 300px;*/
/*    position: absolute;*/
/*}*/
/*.contact h3{*/
/*    font-size: 25px;*/
/*    font-family: Arial, sans-serif;*/
/*    color: darkgrey;*/
/*    padding-left: 100px;*/
/*    margin-top: 400px;*/
/*    position: absolute;*/
/*}*/
/*#hours{*/
/*    margin-top: 490px;*/
/*}*/
/*#phone{*/
/*    margin-top: 580px;*/
/*}*/
/*#mail{*/
/*    margin-top: 650px;*/
/*}*/
/*#naslov1{*/
/*    margin-left: 570px;*/
/*}*/