<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Регистрација</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">

    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <!--   <link rel="stylesheet" href="../static/css/styles.css">-->

       <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
       <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
       <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
   </head>
   <body>
   <hr class="linija1" size="8" width="100%" color="red">
   <div class="meni">
       <a href="http://localhost">
           <h1 class="logo">Е - лекување</h1></a>
       <div id="date-div"></div>
   </div>
   <hr class="linija1" size="8" width="100%"  color="red">
   <h2 class="vnesete">Регистрирање на системот за пациенти</h2>
   <hr id="linija" size="8" width="86%" color="red">

   <div class="vl" id="vert"></div>
   <img class="slika" id="slika1" src="../images/slika.jpg" alt="slika">

   <p id="tekst">Пополнете ги наведените полиња со цел да се регистрирате на системот за е - лекување:</p>
   <form method="post" action="">  <!--smeni akcija-->
    <div id="korisnickoIme">
        <br/>
        <label for="username">Корисничко име</label>
        <input type='text' id="username" name="username" class="uredi"/>
    </div>
    <div id="pass">
        <br/>
        <label for="password">Лозинка</label>
        <input class="uredi pomesti" type='password'  id="password" name="password"/>
    </div>
    <div id="pime">
        <br/>
        <label>Име</label>
        <input  type='text' class="uredi ime" name="ime"/>
    </div>
    <div id="pprezime">
        <br/>
        <label>Презиме</label>
        <input  type='text' class="uredi prezime" name="prezime"/>
    </div>
    <div id="pembg">
        <br/>
        <label>ЕМБГ</label>
        <input class="uredi embg" required pattern="^d{13}$"/>
    </div>
    <div id="radio">
        <label>Опции</label>
        <input type="radio" class="opcija1" name="opcii" value="opcija1">
        <label>Опција1</label>
        <input type="radio" class="opcija2" name="opcii" value="opcija2">
        <label>Опција2</label><br>
    </div>


    <button id="submit" class="btn btn-lg btn-primary btn-block kopce3" type="submit">Најави се</button>
</form>
</body>
</html>
<script type="text/javascript">
    const dateDiv = document.getElementById('date-div');

    function myDateFunction() {
        const now = new Date();
        dateDiv.innerHTML = now.toLocaleString('ru-RU');
    }
    setInterval(myDateFunction, 1000);
</script>
<script>
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>

